<a href="https://colab.research.google.com/github/Dinesh-Adhithya-H/Bioinformatics-3-Comparing-Genes-Proteins-and-Genomes/blob/main/Comparing_Genes%2C_Proteins%2C_and_Genomes_Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#the Global Alignment Problem

In [152]:
!wget https://raw.githubusercontent.com/Dinesh-Adhithya-H/Bioinformatics/master/BLOSUM62.txt

--2021-04-26 12:02:37--  https://raw.githubusercontent.com/Dinesh-Adhithya-H/Bioinformatics/master/BLOSUM62.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1321 (1.3K) [text/plain]
Saving to: ‘BLOSUM62.txt.2’

BLOSUM62.txt.2      100%[===================>]   1.29K  --.-KB/s    in 0s

2021-04-26 12:02:37 (50.0 MB/s) - ‘BLOSUM62.txt.2’ saved [1321/1321]

In [153]:
import pandas as pd
scoring_matrix=pd.read_csv("BLOSUM62.txt.2",delim_whitespace=True)

In [154]:
scoring_matrix

   A  C  D  E  F  G  H  I  K  L  M  N  P  Q  R  S  T  V   W  Y
A  4  0 -2 -1 -2  0 -2 -1 -1 -1 -1 -2 -1 -1 -1  1  0  0  -3 -2
C  0  9 -3 -4 -2 -3 -3 -1 -3 -1 -1 -3 -3 -3 -3 -1 -1 -1  -2 -2
D -2 -3  6  2 -3 -1 -1 -3 -1 -4 -3  1 -1  0 -2  0 -1 -3  -4 -3
E -1 -4  2  5 -3 -2  0 -3  1 -3 -2  0 -1  2  0  0 -1 -2  -3 -2
F -2 -2 -3 -3  6 -3 -1  0 -3  0  0 -3 -4 -3 -3 -2 -2 -1   1  3
G  0 -3 -1 -2 -3  6 -2 -4 -2 -4 -3  0 -2 -2 -2  0 -2 -3  -2 -3
H -2 -3 -1  0 -1 -2  8 -3 -1 -3 -2  1 -2  0  0 -1 -2 -3  -2  2
I -1 -1 -3 -3  0 -4 -3  4 -3  2  1 -3 -3 -3 -3 -2 -1  3  -3 -1
K -1 -3 -1  1 -3 -2 -1 -3  5 -2 -1  0 -1  1  2  0 -1 -2  -3 -2
L -1 -1 -4 -3  0 -4 -3  2 -2  4  2 -3 -3 -2 -2 -2 -1  1  -2 -1
M -1 -1 -3 -2  0 -3 -2  1 -1  2  5 -2 -2  0 -1 -1 -1  1  -1 -1
N -2 -3  1  0 -3  0  1 -3  0 -3 -2  6 -2  0  0  1  0 -3  -4 -2
P -1 -3 -1 -1 -4 -2 -2 -3 -1 -3 -2 -2  7 -1 -2 -1 -1 -2  -4 -3
Q -1 -3  0  2 -3 -2  0 -3  1 -2  0  0 -1  5  1  0 -1 -2  -2 -1
R -1 -3 -2  0 -3 -2  0 -3  2 -2 -1  0 -2  1  5 -1 -1 -3  -3 -2
S  1 -1  0  0 -2  0 -1 -2  0 -2 -1  1 -1  0 -1  4  1 -2  -3 -2
T  0 -1 -1 -1 -2 -2 -2 -1 -1 -1 -1  0 -1 -1 -1  1  5  0  -2 -2
V  0 -1 -3 -2 -1 -3 -3  3 -2  1  1 -3 -2 -2 -3 -2  0  4  -3 -1
W -3 -2 -4 -3  1 -2 -2 -3 -3 -2 -1 -4 -4 -2 -3 -3 -2 -3  11  2
Y -2 -2 -3 -2  3 -3  2 -1 -2 -1 -1 -2 -3 -1 -2 -2 -2 -1   2  7

In [155]:
scoring_matrix["A"]["A"]

4

In [156]:
def sigma():
  return 5

In [157]:
indelInsertFcn = lambda seq, i: seq[:i] + '-' + seq[i:]

In [178]:
def Global_Alignment(seq1,seq2,n,m):
  table=[ [0 for i in range(m+1)] for j in range(n+1)]
  for i in range(n+1):
    table[i][0]=-sigma()*i
  for i in range(m+1):
    table[0][i]=-sigma()*i
  for i in range(1,n+1):
    for j in range(1,m+1):
      table[i][j]=max(table[i-1][j]-sigma(),table[i][j-1]-sigma(),table[i-1][j-1]+scoring_matrix[seq1[i-1]][seq2[j-1]])
  s1=seq1
  s2=seq2
  i=n
  j=m
  score=table[i][j]
  while i>-1 and j>-1:
    if table[i][j]==table[i-1][j]-sigma():
      #s1="-"+s1
      #s2=seq2[j-1]+s2
      i=i-1
      s2=indelInsertFcn(s2,j)
      #print("down")

    elif table[i][j]==table[i][j-1]-sigma():
      #s2="-"+s2
      #s1=seq1[i-1]+s1
      j=j-1
      s1=indelInsertFcn(s1,i)
      #print("up")

    else :
      #s2=seq2[j-1]+s2
      #s1=seq1[i-1]+s1
      i=i-1
      j=j-1
      #print("dia")
  print(score)
  return (score,s1,s2)

In [186]:
#test

In [188]:
s1="CYKYNPHMLWWIGFDNMKDDLTNIFLNAYDEYMAWWCADCEIVYSHMTHSMTEHLEDQYFKGKPHRWPWSKIYWGNMQINTCVILQVCKTDALSAAQQRDLWGKCCPEQEMESMTYPREECGIYFMRIGIKCQYELGFQNENNTQRSAYLEQYALSDCRSQMIQNPGRYRPRLGRIWSTSEAYDRLIRLDEYDILTRIQKYSGCCPCCSVHEPNDYTWVTVLQYYAKRLEDIFGQHATDTNYAQGVAYTRPWVPATWMDFRGDNYAMTCCSFPMVHDTVIVNWHKDFFRFEHMICPTEWDRIRMIITEWTRHDRIEKVKTAWTRYFQQMWFCAARMPSGWEKVITADETMMENAHCIMYKIYMQDAHCVCVCMSVEWLPKPYSRLPAQKTISDTAKNHPCFRANVTNMHLCKGQYCYPCAKIETVKVSWNGDTEVKEEIKYNQYTFGCKSALGAVIWAHHFWYAVDPMIPRNPSMNFMVTDYGQNMEFKELIVQCVHTLHEEPDDWIHDGFLGVDSIMGAQNYMPKAYDHTLSVIDCQIHCAGRNGNEMTEYIKSDHSYIARWDLPDWTHLCVAMLHARGYDFVCDVIRSEPCMFSWKKRIGRDYVAECLWRGAWWYNKHTKKCTSEKWKFGAPNFWITNFCQNLFFYPNGMNIDSFAIQVEWAMKHFQPITQKGICWGAGMHLVSQQCCQPAWNHYELAIVKLPLRMMFLTHMSINTWHFCHGVGRIARPAFICYDMNEQGNTASIWWQTKFHCKGHTVLTSGERRSHDCYPMHMWDELFRLCCKENATTQ"
s2="CLWWILWNIFLNAAKYVSPLRGDEYMGWWCADCEIVYSHMPHSVTTEHLEDQYAKGKPVRWPARHLVEGNDLVMQINKTDALSAAQQTAIRDDWEKCCVFQEMEYPREECGIYFFFNTQRTRPIWCIIGIKCQYELGFQNENNTAYLEQYALSDCRSGMITRWMWKMGNPGRRPRLGIQHIMWHSTSENYDRPIFLDMYDIRIQKYSGCCPCCSVHAPNDYTYAKRLEQAQGVAYARPWVPADCQQHIDHSTYAMTCCSCPMHHDTVIVNWHKDFFRFEHMICPTEIRMVITEWTRHDRIEKVKTAWKEVRYFQQMWFCAASQWEDIDMSPTWTQRKVITADETMMEEVRKIYMQDAHCVCVFMSSMHCYSRLSQANPIAAQKTIFRANVTNMHLCKTQPCEKIETVKVSWWLARIKYNAIIKWYGWDYTFACWTSRGPCCKSALQAVIHHYTRLQCQPHHFWYAVDPMIHPGTWANCQGNPSMNFMLMWKAGQNMEFKELIWTNANTCNCVHTNMYCSIIHDGAQNAYDHVLSVIPCIYWAAFWCKELSWAIQCIEMMECMWKAILVGPLSWDLPAEQWTHLCVAMLHARGYDFCMFSWKWRIGRDYVAECLWRGAWWYNKHTKKCTSEFDQWGAPNFWITNFCQNLFFYPCQGMNIDSFATMVEWAMKHFQPITCLCPDLEVKEICNETEGAGQHLVSQQCCQGAWNIYELAIVKLPLRRSCPVIHDNWTWVASSNRYMSINTWHFCMVREHMDAIWYDMNEQGTCTKFHCKGHTVLSGERRSKGIAMQRDCEPHHMWDELCCKLNATDMTHQ"
n=len(s1)
m=len(s2)

In [189]:
s,a,b=Global_Alignment(s1,s2,n,m)

1956

In [190]:
print(a)
print(b)

CYKYNPHMLWWIGFDNMKDDLTNIFLNAYDEYMAWWCADCEIVYSHMTHSMT-EHLEDQYFKGKPHRWPWSKIYWGNMQINTCVILQVCKTDALSAAQQ---RDLWGKCCPEQEMESMTYPREECGIYFM----R---I----GIKCQYELGFQNENNTQRSAYLEQYALSDCRSQMI-Q------NPGRYRPRLG-R-I-W-STSEAYDRLIRLDEYDILTRIQKYSGCCPCCSVHEPNDYTWVTVLQYYAKRLEDIFGQHATDTNYAQGVAYTRPWVPATWMD-FRGDNYAMTCCSFPMVHDTVIVNWHKDFFRFEHMICPTEWDRIRMIITEWTRHDRIEKVKTAW--TRYFQQMWFCAA-R-----M-PSGW-E-KVITADETMMENAHCIMYKIYMQDAHCVCVCMSVEWLPKPYSRLPAQKTISDTAKNHPCFRANVTNMHLCKGQYCYPCAKIETVKVSWNGDTEVK-EEI-K-YN-QYTF------G-C-KSALGAVI--WA------HHFWYAVDPMI-P------R-NPSMNFMVT-DYGQNMEFKELIVQCVHTLHEEPDDWIHDGFLGVDSIMGAQNYMPKAYDHTLSVIDC-Q-I-H-CAGRN-G-N--EMTEYI-KSDH-SYIARWDLP-D-WTHLCVAMLHARGYDFVCDVIRSEPCMFSWKKRIGRDYVAECLWRGAWWYNKHTKKCTSEKWKFGAPNFWITNFCQNLFFYP-NGMNIDSFAIQVEWAMKHFQPIT------Q-KGIC--W-GAGMHLVSQQCCQPAWNHYELAIVKLPLR----MM---F--L-T---HMSINTWHFCHGVGRIARPAFICYDMNEQGNTASIWWQTKFHCKGHTVLTSGERRS-----H-DCYPMHMWDELFRLCCKENAT--T-Q
CL-W--WILWNI-FLNAAKYVSP--LRG-DEYMGWWCADCEIVYSHMPHSVTTEHLEDQYAKGKPVRWPARHLVEGN-DL---V-MQINKTDALSAAQQTAIRDDWEKCCVFQEME---YPREECGIYFFFNTQRTRPIWCIIGIKCQYELGFQNENNT---AYLEQYALSDCRSGMITRWMWKMGNPGR-RPRLGIQHIMWHSTSENYDRPIFLDMYDI--RIQKYSGCCPCCSVHAPNDYT------Y-AKRLE----Q-A------QGVAYARPWVPADCQQHIDHSTYAMTCCSCPMHHDTVIVNWHKDFFRFEHMICPTE---IRMVITEWTRHDRIEKVKTAWKEVRYFQQMWFCAASQWEDIDMSPT-WTQRKVITADETMMEE---VR-KIYMQDAHCVCVFMS-S-M-HCYSRL-SQ-A-NPIAAQKTIFRANVTNMHLCKTQ---PCEKIETVKVSW-WLARIKYNAIIKWYGWDYTFACWTSRGPCCKSALQAVIHHYTRLQCQPHHFWYAVDPMIHPGTWANCQGNPSMNFMLMWKAGQNMEFKELIWTNANTCNCVHTN-MYCSIIH-D---GAQN----AYDHVLSVIPCIYWAAFWCKELSWAIQCIEMMECMWKAILVGPLS-WDLPAEQWTHLCVAMLHARGYDF-C--------MFSWKWRIGRDYVAECLWRGAWWYNKHTKKCTSEFDQWGAPNFWITNFCQNLFFYPCQGMNIDSFATMVEWAMKHFQPITCLCPDLEVKEICNETEGAGQHLVSQQCCQGAWNIYELAIVKLPLRRSCPVIHDNWTWVASSNRYMSINTWHFCM-V-REHMDA-IWYDMNEQG-TC-----TKFHCKGHTVL-SGERRSKGIAMQRDCEPHHMWDEL---CCKLNATDMTHQ

In [184]:
"ILYPRQSMICMSFCF-WDM--WKKDVPVVLMMFLERRQMQSVF-S-WL--VTVKTDCGKGIYNHR-K--Y-LGLPTMTAGDWHWIKK---Q-NDPHEWFQGRLETAWLHSTFLYWKYFE-CDAVKVCMDTFGLFGHCDWDQQIHTCTHENEPAIAFLDLYCRHSPMCDKLYPVWDMACQTCHFHHSWFCRNQEMWMKGDVDDWQWGYHYHTINSAQCNQWFKEICKDMGWDSVFPPRHNCQRHKKCMPALYAGIW---MA----TDHACTFMVRLIYTENIAEWHQVYCYRSMNMFTCGNVCLRCKSWIFVKN-YMMAPVVNDPMIEA--FYKRCCILGKAWYDMWGICPVERKSHWEIYAKDLLSFESCCSQKKQNCYTDNWGLEYRLFFQSIQMN-TDPH----Y--CQTHVCW-ISAMF-PIYSPFYT--SG-PKEFYMW---LQARI-DQNM---HGHANHYV-TSGNWDSVYTPEKRA--G--V-FP-V-V-------VPVWYPPQMCN--D-YIKLTYEC--E---RFHVEGTFGCNRWD-L-GCRR--YII--FQCPYCDTMKI---CY--VDQWRSIKEGQFRMSGYPNHGYWFVHDDHTNEW-----CNQPVLAKFVRSKIVA---ICKKSQTVFHYAYTPGYNATWPQTNVCERMYGPHDNLLNNQQNVTFWWKMVPNCGMQILISCHNKMKWPT--S-HYVF---MRLKCMHVLMQMEYLDHFTGPGEGDFCRNMQPYMHQDLHWEGSMRAILEYQAEHH-RRAFRA----ELCAQYDQEIILWSGGWGVQDCGFHANYDGSLQVVSGEPCSMWCTTVMQYYADCWEKCMFA"==a

True

In [185]:
"ILIPRQQMGCFPFPWHFDFCFWSAHHSLVVP--LNP-QMQTVFQNRGLDRVTVKTDC----HDHRWKWIYNLGLPTMTAGDWHFIKKHVVRANNPHQWFQGRLTTAWLHSTFLY-KKTEYC-LVR---HS-NCC-HCDWDQIIHTCAF-----IAFLDLYQRHWPMCDKLY------C---HFHHSWFCRNQEMSM--D---W---------N--Q---WFP-------WDSV-P-RANCLE-EGALIALYAGIWANSMKRDMKTDHACT--VRLIYVCELHAWLK-YCYTSINML-CGNVCLRCKSWIFVKLFYMYAPVVNTIEANSPHYYKRCCILGQ------GICPVERKSHCEIYAKDLLSFESCCSQK-QNCYTDNWGLEYRLFFQHIQMECTDPHANRGWTSCQTAKYWHFNLDDRPP-KEFYMWLQATPTDLCMYQHCLMFKIVKQNFRKQHGHANPAASTSGNWDSVYTPEKMAYKDWYVSHPPVDMRRNGSKMVPVWYPPGIWHWKQSY-KLTYECFFTVPGRFHVEGTFGCNRWDHQPGTRRDRQANHQFQCPYSDTMAIWEHAYTYVDQWRSIKEGQMPMSGYPNHGQWNVHDDHTNEQERSPICNQPVLAKFVRSKNVSNHEICKKSQTVFHWA-C---EA---QTNVCERMLN-NQHVAV-KRNVTFWWQMVPNC----LWSCHNKMTWPTRPEQHRLFFVKMRLKCMH-----EYLD--VAPS--DFCRNMQAYMH-------SMRAILEYQADFDLKRRLRAIAPMDLCAQYDQEIILWSGGY-I--------YDQSLQVVSCEGCSYYADCYVKCI-NVKEKCMFA"==b

True

#the Local Alignment Problem

In [8]:
!wget https://raw.githubusercontent.com/Dinesh-Adhithya-H/Bioinformatics-3-Comparing-Genes-Proteins-and-Genomes/main/PAM250.txt

--2021-04-26 18:59:51--  https://raw.githubusercontent.com/Dinesh-Adhithya-H/Bioinformatics-3-Comparing-Genes-Proteins-and-Genomes/main/PAM250.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1321 (1.3K) [text/plain]
Saving to: ‘PAM250.txt’

PAM250.txt          100%[===================>]   1.29K  --.-KB/s    in 0s

2021-04-26 18:59:52 (75.5 MB/s) - ‘PAM250.txt’ saved [1321/1321]

In [9]:
import pandas as pd
scoring_matrix=pd.read_csv("PAM250.txt",delim_whitespace=True)

In [10]:
scoring_matrix

   A   C  D  E  F  G  H  I  K  L  M  N  P  Q  R  S  T  V   W   Y
A  2  -2  0  0 -3  1 -1 -1 -1 -2 -1  0  1  0 -2  1  1  0  -6  -3
C -2  12 -5 -5 -4 -3 -3 -2 -5 -6 -5 -4 -3 -5 -4  0 -2 -2  -8   0
D  0  -5  4  3 -6  1  1 -2  0 -4 -3  2 -1  2 -1  0  0 -2  -7  -4
E  0  -5  3  4 -5  0  1 -2  0 -3 -2  1 -1  2 -1  0  0 -2  -7  -4
F -3  -4 -6 -5  9 -5 -2  1 -5  2  0 -3 -5 -5 -4 -3 -3 -1   0   7
G  1  -3  1  0 -5  5 -2 -3 -2 -4 -3  0  0 -1 -3  1  0 -1  -7  -5
H -1  -3  1  1 -2 -2  6 -2  0 -2 -2  2  0  3  2 -1 -1 -2  -3   0
I -1  -2 -2 -2  1 -3 -2  5 -2  2  2 -2 -2 -2 -2 -1  0  4  -5  -1
K -1  -5  0  0 -5 -2  0 -2  5 -3  0  1 -1  1  3  0  0 -2  -3  -4
L -2  -6 -4 -3  2 -4 -2  2 -3  6  4 -3 -3 -2 -3 -3 -2  2  -2  -1
M -1  -5 -3 -2  0 -3 -2  2  0  4  6 -2 -2 -1  0 -2 -1  2  -4  -2
N  0  -4  2  1 -3  0  2 -2  1 -3 -2  2  0  1  0  1  0 -2  -4  -2
P  1  -3 -1 -1 -5  0  0 -2 -1 -3 -2  0  6  0  0  1  0 -1  -6  -5
Q  0  -5  2  2 -5 -1  3 -2  1 -2 -1  1  0  4  1 -1 -1 -2  -5  -4
R -2  -4 -1 -1 -4 -3  2 -2  3 -3  0  0  0  1  6  0 -1 -2   2  -4
S  1   0  0  0 -3  1 -1 -1  0 -3 -2  1  1 -1  0  2  1 -1  -2  -3
T  1  -2  0  0 -3  0 -1  0  0 -2 -1  0  0 -1 -1  1  3  0  -5  -3
V  0  -2 -2 -2 -1 -1 -2  4 -2  2  2 -2 -1 -2 -2 -1  0  4  -6  -2
W -6  -8 -7 -7  0 -7 -3 -5 -3 -2 -4 -4 -6 -5  2 -2 -5 -6  17   0
Y -3   0 -4 -4  7 -5  0 -1 -4 -1 -2 -2 -5 -4 -4 -3 -3 -2   0  10

In [11]:
def sigma():
  return 5

In [12]:
def maximum(arr):
  max=0
  for i in range(len(arr)):
    if arr[i]>max:
      max=arr[i]
  return(max)

In [25]:
def Local_Alignment(seq1,seq2,n,m):

  table=[ [0 for i in range(m+1)] for j in range(n+1)]
  for i in range(n+1):
    table[i][0]=-sigma()*i
  for i in range(m+1):
    table[0][i]=-sigma()*i

  bcktrk=[ ["0" for i in range(m+1)] for j in range(n+1)]

  max=0
  max_i=0
  max_j=0
  for i in range(1,n+1):
    for j in range(1,m+1):
      scores=[0,table[i-1][j]-sigma(),table[i][j-1]-sigma(),table[i-1][j-1]+scoring_matrix[seq1[i-1]][seq2[j-1]]]
      table[i][j]=maximum(scores)
      if table[i][j]==scores[0]:
        bcktrk[i][j]="0"
      if table[i][j]==scores[1]:
        bcktrk[i][j]="U"
      if table[i][j]==scores[2]:
        bcktrk[i][j]="L"
      if table[i][j]==scores[3]:
        bcktrk[i][j]="D"
      if table[i][j]>max:
        max_i=i
        max_j=j
        max=table[i][j]

  s1=""
  s2=""
  j=max_j
  i=max_i
  print(bcktrk)
  score=table[i][j]
  while bcktrk[i][j]!="0":
    if bcktrk[i][j]=="D":
      s2=seq2[j-1]+s2
      s1=seq1[i-1]+s1
      i=i-1
      j=j-1
      print("dia")
      print(s1,s2)
    elif bcktrk[i][j]=="L":
      s1="-"+s1
      s2=seq2[j-1]+s2
      j=j-1
      print("down")
    elif bcktrk[i][j]=="U":
      s2="-"+s2
      s1=seq1[i-1]+s1
      i=i-1
      print("up")
  print(score)
  return (score,s1,s2)

In [29]:
s1="MFSFWEEFDSVSDVSDVSEANLY"
s2="PENALSVSVSVSVEVEVSTY"
n=len(s1)
m=len(s2)

In [30]:
%time s,a,b=Local_Alignment(s1,s2,n,m)

[['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['0', '0', '0', '0', '0', 'D', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', 'D'], ['0', '0', 'D', 'D', 'D', '0', 'D', '0', 'D', '0', 'D', '0', 'D', '0', 'D', '0', 'D', '0', 'D', 'D', 'U'], ['0', '0', '0', '0', '0', 'D', '0', 'D', '0', 'D', '0', 'D', '0', 'D', '0', '0', '0', '0', '0', '0', 'D'], ['0', '0', '0', '0', '0', '0', 'D', '0', 'D', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', 'U'], ['0', '0', 'D', 'D', 'D', '0', 'D', '0', 'D', '0', 'D', '0', 'D', '0', 'D', '0', 'D', '0', 'D', 'D', '0'], ['0', '0', 'D', 'D', 'D', '0', 'D', '0', 'D', '0', 'D', '0', 'D', '0', 'D', 'D', 'D', 'D', 'D', 'D', '0'], ['0', '0', '0', 'D', 'D', 'D', '0', '0', '0', '0', '0', '0', '0', '0', '0', 'D', '0', 'D', '0', '0', 'D'], ['0', '0', 'D', 'D', 'D', '0', 'D', '0', 'D', '0', 'D', '0', 'D', '0', 'D', '0', 'D', 'L', 'D', 'D', 'U'], ['0', '0', 'D', 'D', 'D', '0', 'D', 'D', 'D', '0', 'D', '0', 'D', '0', 'D', 'D', 'U', 'D', 'D', 'D', '0'], ['0', '0', '0', '0', 'D', 'D', 'L', 'D', 'D', 'D', 'L', 'D', 'L', 'D', 'L', 'D', 'D', 'D', 'D', 'D', 'D'], ['0', '0', 'D', 'D', 'D', 'D', 'D', 'L', 'D', 'L', 'D', 'L', 'D', 'L', 'D', 'L', 'D', 'U', 'D', 'D', 'D'], ['0', '0', 'D', 'D', 'D', '0', 'U', 'D', 'U', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'U', 'D', 'L'], ['0', '0', '0', 'D', 'D', 'D', '0', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'L', 'D', 'L', 'D', 'D'], ['0', '0', 'D', 'D', 'D', '0', 'D', 'U', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'U', 'D', 'L', 'D', 'L', 'L'], ['0', '0', 'D', 'D', 'D', '0', 'D', 'D', 'U', 'D', 'U', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'L'], ['0', '0', '0', 'D', 'D', 'D', '0', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'L', 'D', 'D', 'D', 'D'], ['0', '0', 'D', 'D', 'D', '0', 'D', 'L', 'D', 'U', 'D', 'D', 'D', 'D', 'D', 'U', 'D', 'U', 'D', 'L', 'L'], ['0', '0', 'D', 'D', 'D', '0', 'D', 'D', 'U', 'D', 'U', 'D', 'U', 'D', 'D', 'D', 'D', 'D', 'U', 'D', 'L'], ['0', '0', 'D', 'D', 'D', '0', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D'], ['0', '0', 'D', 'D', 'D', 'D', 'D', '0', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'L', 'D', 'D', 'D'], ['0', '0', '0', '0', 'D', 'D', 'L', 'D', '0', 'D', '0', 'D', 'D', 'D', 'D', 'D', 'U', 'D', 'L', 'D', 'D'], ['0', '0', '0', '0', '0', 'U', 'D', 'D', 'D', '0', 'D', '0', 'D', 'U', 'D', 'U', 'D', 'U', 'D', 'D', 'D']]
dia
Y Y
dia
LY TY
dia
NLY STY
dia
ANLY VSTY
dia
EANLY EVSTY
up
dia
VSEANLY V-EVSTY
dia
DVSEANLY EV-EVSTY
dia
SDVSEANLY VEV-EVSTY
dia
VSDVSEANLY SVEV-EVSTY
dia
DVSDVSEANLY VSVEV-EVSTY
dia
SDVSDVSEANLY SVSVEV-EVSTY
dia
VSDVSDVSEANLY VSVSVEV-EVSTY
dia
SVSDVSDVSEANLY SVSVSVEV-EVSTY
19
CPU times: user 10.1 ms, sys: 2.03 ms, total: 12.1 ms
Wall time: 14.2 ms

In [31]:
a,b

('SVSDVSDVSEANLY', 'SVSVSVEV-EVSTY')

# the edit distance between two strings

In [2]:
def edit_distance(s1,s2):
  if s1=="":
    return (len(s2))
  if s2=="":
    return (len(s1))
  if s1[-1]==s2[-1]:
    mismatch=0
  else:
    mismatch=1
  result=min(edit_distance(s1[:-1],s2)+1,edit_distance(s1,s2[:-1])+1,edit_distance(s1[:-1],s2[:-1])+mismatch)
  return (result)

In [16]:
def edit_distance(s1,s2):
  n=len(s1)
  m=len(s2)
  table=[[0 for i in range(n+1)] for j in range(m+1)]
  for i in range(n+1):
    table[0][i]=i
  for i in range(m+1):
    table[i][0]=i
  for i in range(1,m+1):
    for j in range(1,n+1):
      if s2[i-1]==s1[j-1]:
        cost=0
      else:
        cost=1
      table[i][j]=min(table[i-1][j]+1,table[i][j-1]+1,table[i-1][j-1]+cost)
  return table[m][n]

In [18]:
edit_distance("THKCNEIAWRDTPCLNIKEMRNTHGGPIHMRYPFMDRQWWPEENNQEVPRLPGPDLNNCGNFVTKVAMDTMEANNMYRCGPGYAWYRFYFPGSHHRFMTSFGMKGHTVNMTVGLREQPFACQFFKDPEDPPMQTESGNVKWQFSYCLGHKVRAGCFYTKGKSHGLLRKRKIYYLTKWQFSYWYQDCMFKKSVTEYQHAVKFHFKEAFNQCFMGRKNMVSDKYHFASMTYLGMWFMQIMNDMVSPNKHSLPDDRAYVQYWVVFNLQHTQARHLSIILYMANFIRFIELTHYLSSLLKNKSTRWNRHMIMGTDYKWWTMLGDVWFEYSSQKCGISSKEEYRNKWAQTAMKTPLTGNTWCTYWHRRVCLCMNYLDDPDCKAEKMVHCCSKTGITECVQDKQWDYAGTKEGVRAYMFHNTINQRHDLRGFVEIKASEWARASLQTRKVYYFANIKSKEFMDRMIDCIYDNAWNLCITGHIPHAPAAVPSKLMDDMEALTLSLADYMEMHRNSAVSDHFIVDMHAVIKELAAGQLNTIMHEDGELFPNECFMMSVRQKWFTEGQVEYIKASGNFYFFVKPHPEVELPHWPPAHFKCTQVLARIRWTDLKNCHNQGRGAIWNPMEMSGWWIRYHTFRQWVEFPKILGDPNRTRWTILKKTNLRCFDIVSDRYEQETTSIPNFMGIRDKGGPNKSYGQTDIFVSRTFGCGGGKVHLCNPDAAQLQGMLRHQPRQGQGGARSSCFPCWRRRNPHISLIIRFRCHFMDESLEWNMGDEFVDEMMLNEGPTRVVPLPWFTIANRANLVSFHTS","THKCNEIAWRDNLHTIDSLRPCGWIAHFNIKEMRNTHQGPIHMRYPFMDRQWWPEEVGTEVPRLPGPMLNNCGNFVTKGACDKMEANNMYRCRPGYAWYVQICYTLRFMTSFGMKGHTMNMTVGPFACQFFKHPEDPPVQTESGNHKWQFSYCLGHKVRRWMDRTKSHGLLRHRSQRQIYYWQFSYWYQDCKSDTEYQRGEYAVKFHFAIMRSWYEAFNQNMVHIQQRAYDKYHFASMTYLGSWFMQIMNNGWYMIECKYAYVQYCCHECTNKNLQHTQAPLGGHLSIILYMANFIRHITHYLSSLLKNKSTAAAAHIKLVWNRHMIMGMDMTEDDKWWTMLGEGWMKDVWFEYSSQKCGISSKEEGKCIDPLPENKWAQTAMKVPGMVNAYGYWHRRVCLCMNYLDDPVLKLDMHKAEKMVHTECVCDKQWDYAGTKEGVNRPKWAYMFHNTINQRHLRGFVEIKANEWAAASCQTRMVYYFMKQMGRENFNIKSKCIYDNSGSHHWNLCITAMHSSHIAVLMDDMEALTFTVISLADYMEFHRNSAVSNHFIVDMHALLGQPNTIESELFPYECFVMSVRQGQYEYPEVELSKCWRPPPAHFKCTAVLLKNCHPVMYQGRMEMSGWWIRYHTFYNHAQQWTEFPKICGDPNRTRWTIDCTDTVELWVISSDRPYTGRQNTTGESIGREQQQTFNQRDLQCPAIGGWNLSYGQSADIFVSRTGGCGGQKVKAQLQGMLRHQPRQTQGGARSSCFMMCIPMRHGWQVVAISLIIRFWCHFMDPSLEWNMGDEFVDEMMLNETPTRVVRVLPWVSFHTS")

339

#the fitting alignment problem

In [3]:
v="GTAGGCTTAAGGTTA"
w="TAGATA"

In [32]:
def fitting_alignment(seq1,seq2):
  n=len(seq1)
  m=len(seq2)
  table=[ [0 for i in range(m+1)] for j in range(n+1)]
  backtrack=[ ["0" for i in range(m+1)] for j in range(n+1)]
  for i in range(1,n+1):
    for j in range(1,m+1):
      if seq1[i-1]==seq2[j-1]:
        cost=1
      else:
        cost=-1
      score1=table[i-1][j-1]+cost
      score2=table[i-1][j]-1
      score3=table[i][j-1]-1
      table[i][j]=max(score1,score2,score3)
      if table[i][j]==score1:
        backtrack[i][j]="D"
      elif table[i][j]==score2:
        backtrack[i][j]="U"
      elif table[i][j]==score3:
        backtrack[i][j]="L"
  s1=''
  s2=''
  j=m
  i = max(enumerate([table[row][m] for row in range(m,n)]), key=lambda x: x[1])[0] + m
  score=table[i][j]
  while backtrack[i][j]!="0":
    #print(i,j)
    if backtrack[i][j]=="D":
      s2=seq2[j-1]+s2
      s1=seq1[i-1]+s1
      i=i-1
      j=j-1
    elif backtrack[i][j]=="U":
      s2="-"+s2
      s1=seq1[i-1]+s1
      i=i-1
    else:
      s1="-"+s1
      s2=seq2[j-1]+s2
      j=j-1
  return (score,s1,s2)

In [33]:
fitting_alignment("GTAGGCTTAAGGTTA","TAGATA")

(2, 'TAGGCTTA', 'TA-G-ATA')

In [34]:
fitting_alignment("GTGTCGTCATCCCACCTTGTAACGACGCCTCAGACAATGTTGATATATCAGATCTGTTCGACCCTAACCGTATTATGAAGGAAAATTAGTCTCGAAGGCACCTAAGCCTTTCTTAAAAGCAGCAACGGCCACATTATAGCTACATCCGCTAAGAGCGGTTTGCATCCTGATACTTCCATGCTTACTGATGAGGATACCGACACTTACTAGCTGCTGCACCTTTCCCCATTCCTCCTTTTAAAGTACGTGGTGATAACGTAAAAGCCTAAAGAGATTTCATAGCATCAACTTTCACCATCAACTAATTAGAAGAATCACATAAGGTTGCTGGTAGGATTCGAGTAGCTTTATACCACGCCTCACCGGGAGCGACGGGATTTTCGATGACGATAACTCTGGTAGCATATCGTACCAATGCCGGTGCCACAGCCAGATCGCCCGTTCCCCTACTGACGTGATTAACCGACAATGAGATTCGCGCCATGGGCCGTACAGGTTTTAAACAGGATAGATGAAGAAACTGAAATACCGCGGATGCCTCAGCACAAGTTCCGTTGATAATTAAAGGAGGCTCCGCTAGCCCGCACTCTGATGTATTGACTCTCGATTCCGGTTGCGAATTAAATTGTTTTTACTTCGGCAAGAATTACCGGATATAACCCACTACACTCGAACATCATCGCGAAGGAAAGGCTCGAATCATCTGCTTAACCTTGAGCACACCGGATGTGGTCTAACGTTTATGGACGATGCTTAATGATGGCGGGCGTGAGGCGTCATAAGACGGAAGAAGAAATTAACGTTCTGGGGTTAATACGGTGTACTACGGCATCCCCTCACTGGCCGGATGACA","GACCCAGGAGAGTTCCGAGACTGCCAGGTTTAAATTGGTTATTCAAGCAAAGCACAGATTCGCCGAAATGACACAATCGTAGGCT")

(20,
 'GA-CAATGAGA-TTCGCGCCATGGGCCGTACAGGTTTTAAACAGGATAGATGAAG-AAA-CTGAAATACCGCGGATGCCTCAGCACAAGTTCCGT-TGAT',
 'GACCCAGGAGAGTTC-CG--A--GACTG-CCAGG-TTTAAATTGGTTA-TTCAAGCAAAGCACAGAT-TCGCCGA--AATGA-CACAA--T-CGTAGGCT')

#the Overlap Alignment Problem